<form action="/admin/categorias/nova" method="post">
    <label for="name">Nome</label>
    <input type="text" id="name" name="name" placeholder="Nome da categoria" class="form-control">

    <label for="slug">Slug</label>
    <input type="text" id="slug" name="slug" placeholder="Slug da categoria" class="form-control">
    
    <br>
    <button type="submit" class="btn success">Criar categoria</button>
</form>
